.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .links {
    margin-right: 50px;
    display: flex;
    align-items: center;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
  }
  .notificationContainer{
    display: flex;
    align-items: center;
    
  }

  .notificationIcon{
    background-color: aliceblue;
    height: 18px;
    width: 18px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-left:-10px;
  }
  .counter{
    text-align: center; 
    vertical-align: middle;
    justify-content: center;
    color: black;
    font-size: 10px;
  }
  